/*
 *  This file is part of the Symfony package.
 *
 *  (c) Bruno Di Miceli <dimicelibruno@gmail.com>
 *
 *  For the full copyright and license information, please view the LICENSE
 *  file that was distributed with this source code.
 */


:root {
    --dm-cookie-consent-title-color: #ff7246;
    --dm-cookie-consent-title-font: 22px sans-serif;
    --dm-cookie-consent-text-color: white;
    --dm-cookie-consent-text-font: 14px/2 sans-serif;
    --dm-cookie-consent-background-color: rgba(0, 0, 0, 0.9);
    --dm-cookie-consent-button-color: #ff7246;
    --dm-cookie-consent-button-color-hover: #ff9565;
    --dm-cookie-consent-button-label-color: white;
    --dm-cookie-consent-button-label-font: 18px/1.5 sans-serif;
}

.dm-cookie-consent-container {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: var(--dm-cookie-consent-background-color);
    color: var(--dm-cookie-consent-text-color);
    margin: 0px;
    padding:0px;
    z-index: 99999;
}

.dm-cookie-consent-container-inner {
    padding: 20px 30px 20px 30px;
}

.dm-cookie-consent-container .dm-cookie-consent-container-inner h3 {
    color: var(--dm-cookie-consent-title-color);
    margin-bottom: 10px;
    font: var(--dm-cookie-consent-title-font);
}

.dm-cookie-consent-container .dm-cookie-consent-container-inner p {
    color: var(--dm-cookie-consent-text-color);
    font-size: 14px;
    line-height: 25px;
    font: var(--dm-cookie-consent-text-font);
}

.dm-cookie-consent-container .dm-cookie-consent-container-inner .dm-cookie-consent-container-button-container {
    width: 100%;
    margin: 0px;
    text-align: right;
}

.dm-cookie-consent-container .dm-cookie-consent-container-inner .dm-cookie-consent-container-button-container button {

    border: 0px;
    background-color: var(--dm-cookie-consent-button-color);
    color: var(--dm-cookie-consent-button-label-color);
    border-radius: 6px;
    padding: 10px 20px;
    margin-right: 30px;
    font-weight: bold;
    font: var(--dm-cookie-consent-button-label-font);
}

.dm-cookie-consent-container .dm-cookie-consent-container-inner .dm-cookie-consent-container-button-container button:hover {
    background-color: var(--dm-cookie-consent-button-color-hover);
}