<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~  This file is part of the Symfony package.
  ~
  ~  (c) Bruno Di Miceli <dimicelibruno@gmail.com>
  ~
  ~  For the full copyright and license information, please view the LICENSE
  ~  file that was distributed with this source code.
  -->

<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">
    <route id="dm_cookie_consent_view" controller="dimiceli_cookie_consent.cookie_consent_controller::view" path="gdpr/cookie-consent/view" />
    <route id="dm_cookie_consent_save" controller="dimiceli_cookie_consent.cookie_consent_controller::save" path="gdpr/cookie-consent/save" />
</routes>