<div class="dm-cookie-consent-container">
    <h1>Title</h1>
    <p>Content</p>
    {{ form_start(cookie_consent_form) }}
    <input type="submit" value="save"/>
    {{ form_end(cookie_consent_form) }}
</div>